.graph-score {
    position: relative;
    height: 263px;
    width: 258px;
    background: #FBFBFB;
    border-radius: 5px
    ;
    &-title {
        font-size: 15px;
        color:#20253A;
        margin:1rem 0 0 0.5rem;
        text-align: left;
    }
}
.score {
    width: 100%;
    position: absolute;
    margin:1.7rem auto;
    top:30%;
    font-size: 26px;
    font-weight: bold;
 
    &-percent {
        
        color:#282D30;
        margin: 0;
        
    }
    &-text {
        color:#74798C;
        margin: 0;
       
    }
}