.user {

    text-align: left;
    width: 100%;
    font-style: normal;

    &-title {
        font-weight: 500;
        font-size: 48px;
        line-height: 24px;
    }
    &-name {
        color: #FF0101;   
    }

    &-msg {
        font-size: 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
}